# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
.venv/

# Jupyter Notebook
.ipynb_checkpoints/

# IDE files
.vscode/
.idea/

# Large datasets
*.csv
*.parquet
data/
Retail_Loan_Default_Prediction/data/
SmartLend_App/data/
